h1 { 
  color: #F4C2C2;
  font-size: 300px;
  text-align: center;
  font-family: "lafleur", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 7px;
  display: block;
  padding-left: 0%;
  animation: neonGlow 1.5s ease-in-out infinite alternate;
  line-height: 0.9;
}

@keyframes neonGlow {
  from {
    text-shadow: 0 0 5px #F4C2C2, 0 0 10px #F4C2C2, 0 0 20px #F4C2C2;
  }
  to {
    text-shadow: 0 0 20px #FF69B4, 0 0 40px #FF69B4, 0 0 60px #FF69B4;
  }
}


body { 
  background-color: black; 
  text-align: center;
}

p {

  .N {
    font-size: 260px;
    font-family: "lafleur", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: lightpink;
    text-align: left;
    letter-spacing: 120px;
  }


  .Z {
  font-size: 260px;
    font-family: "lafleur", sans-serif;
    font-weight: 50;
    font-style: normal;
  color: lightpink;
  text-align: right;
  letter-spacing: 120px
}

.O {
  font-size: 260px;
    font-family: "lafleur", sans-serif;
    font-weight: 50;
    font-style: normal;
  color: lightpink;
  text-align: padding-left;
  letter-spacing: 120px


}

